.DS_Store
*.log
*.iml
.idea/
.vscode/
source-apps/ods-source/.venv/
process-apps/ods-processor/target/
**/target/
*.class
analytics/dbt/target/
analytics/dbt/dbt_packages/
analytics/dbt/logs/
__pycache__/
*.pyc
*.tmp
*.pid
.pytest_cache/
.mypy_cache/
.ruff_cache/
cicd/charts/charts/
