.DS_Store
*.log
*.iml
.idea/
.vscode/
source-apps/ods_source/.venv/
process-apps/ods_processor/target/
analytics/dbt/target/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
cicd/charts/charts/
